{block content}
	<div class="jumbotron parallax" id="uvod">
		<div class="container">
			<h1 id="jumbotron-h1">DOPRAVA <span style="color:#f5f5f6">Z OBCHODU</span></h1>
			<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta</p>
			<a class="blue-link" n:href="Homepage:order">Objednávka</a>
			<a class="blue-link" href="#">O nás</a>
		</div>
	</div>

	<section id="section-1">
		<div class="container">
			<h2 class="text-center">Lorem Ipsum</h2>
			<p><span style="color: #428BCA">Sed ut perspiciatis</span> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <span style="color: #428BCA">magni dolores eos</span> qui ratione voluptatem sequi nesciunt.
			</p>

			<div class="row stlpce">
				<div class="col-sm-4">
					<i class="fa fa-check-circle-o" aria-hidden="true"></i>
					<h3>Voluptas aspernatus</h3>
					<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
				</div>
				<div class="col-sm-4">
					<i class="fa fa-comment" aria-hidden="true"></i>
					<h3>Doloremque laudantium</h3>
					<p>Unde omnis iste natus error sit voluptatem accusantium quia voluptas sit aspernatur. </p>
				</div>
				<div class="col-sm-4">
					<i class="fa fa-desktop" aria-hidden="true"></i>
					<h3>Ratione voluptatem</h3>
					<p>Iste natus error sit voluptatem accusantium doloremque laudantium.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- SEKCIA 2 -->
	<section id="section-2">
		<div class="container">
			<h2 class="text-center">Novinky</h2>
			<div class="row">
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Omnis iste natus error</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Adipiscing elit</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Nostrud exercitation ullamco</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex...
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Quis nostrud exercitation</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Consectetur adipiscing elit sed</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="novinka">
						<a class="clanok-link" href="#"><h3>Totam rem aperiam, eaque ipsa</h3></a>
						<div class="post-date">
							<p>05.01.2017</p>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...
						</p>
					</div>
				</div>
			</div>

			<div class="link-wrapper">
				<a class="blue-link" id="vsetky-clanky" href="#">Všetky články</a>
			</div>

		</div>
	</section>

	<!-- SEKCIA 3 -->
	<section id="section-3" class="parallax">
		<div class="container">
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
			<div class="link-wrapper">
				<a class="blue-link" href="#"> Objednat</a>
			</div>
		</div>
	</section>

	<!-- SEKCIA 4 -->
	<section id="section-4">
		<div class="container">
			<h2 class="text-center">Voluptatem Volupta</h2>
			<p><span style="color: #428BCA">Sed ut perspiciatis</span> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <span style="color: #428BCA">magni dolores eos</span> qui ratione voluptatem sequi nesciunt.
			</p>
		</div>
	</section>

{/block}

{block scripts}


{/block}
