{block content}
<section id="headline-page" class="parallax">
	<div class="container">
		<h1>Objednávka</h1>
	</div>
</section>
	<div class="container">
		<div id="order-form" class="col-lg-12">
			{form orderForm class => 'form-horizontal'}
				<div class="errors" n:if="$form->hasErrors()">
					<div n:foreach="$form->errors as $error" class="alert alert-danger" role="alert">{$error}</div>
				</div>
				
				{formContainer items}
					<h2>Informace o zásilce</h2>
					<fieldset class="container-fluid container-items">
						<div class="form-group">
							{label volume class => 'col-sm-3' /}
							<div class="col-sm-8">
								<div class="input-group">
                                    {input volume class => 'form-control'}
									<div class="input-group-addon">m<sup>3</sup></div>
								</div>
							</div>
						</div>
						<div class="form-group">
                            {label weight class => 'col-sm-3' /}
							<div class="col-sm-8">
								<div class="input-group">
                                    {input weight class => 'form-control'}
									<div class="input-group-addon">kg</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							{label qty class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input qty class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label ordernumber class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input ordernumber class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label paid class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input paid class => 'form-control'}
							</div>
						</div>
					</fieldset>
				{/formContainer}

				{formContainer pickup}
					<h3>Informace o vyzvednutí</h3>
					<div class="form-group">
						{label shop class => 'col-sm-3' /}
						<div class="col-sm-8">
							{input shop class => 'form-control'}
						</div>
					</div>
					<fieldset class="container-fluid container-pickup" id="container-setshop">
						<div class="form-group">
							{label name class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input name class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label centre class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input centre class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label street class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input street class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label city class => 'col-sm-3' /}
							<div class="col-sm-3">
								{input city class => 'form-control'}
							</div>
							{label zip class => 'col-sm-2' /}
							<div class="col-sm-3">
								{input zip class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label phone class => 'col-sm-3' /}
							<div class="col-sm-3">
								{input phone class => 'form-control'}
							</div>
							{label email class => 'col-sm-2' /}
							<div class="col-sm-3">
								{input email class => 'form-control'}
							</div>
						</div>
						<div class="form-group">
							{label contactPerson class => 'col-sm-3' /}
							<div class="col-sm-8">
								{input contactPerson class => 'form-control'}
							</div>
						</div>
					</fieldset>

					<div class="form-group">
						{label pickupDate class => 'col-sm-3' /}
						<div class="col-sm-3">
							{input pickupDate class => 'form-control'}
						</div>

						{label pickupTime class => 'col-sm-2' /}
						<div class="col-sm-3 clockpicker" data-autoclose="true">
							{input pickupTime class => 'form-control'}

							<span class="input-group-addon" style="display:none">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				{/formContainer}


				{formContainer destination}
					<h3>Informace o doručení</h3>

					<div class="form-group">
						{label company class => 'col-sm-3' /}
						<div class="col-sm-8">
							{input company class => 'form-control'}
						</div>
					</div>
					<div class="form-group">
						{label name class => 'col-sm-3' /}
						<div class="col-sm-8">
							{input name class => 'form-control'}
						</div>
					</div>
					<div class="form-group">
						{label street class => 'col-sm-3' /}
						<div class="col-sm-8">
							{input street class => 'form-control'}
						</div>
					</div>
					<div class="form-group">
						{label city class => 'col-sm-3' /}
						<div class="col-sm-3">
							{input city class => 'form-control'}
						</div>
						{label zip class => 'col-sm-2' /}
						<div class="col-sm-3">
							{input zip class => 'form-control'}
						</div>
					</div>

					<div class="form-group">
						{label destinationDate class => 'col-sm-3' /}
						<div class="col-sm-3">
							{input destinationDate class => 'form-control'}
						</div>

						{label destinationTime class => 'col-sm-2' /}
						<div class="col-sm-3 clockpicker" data-autoclose="true">
							{input destinationTime class => 'form-control'}

							<span class="input-group-addon" style="display:none">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				{/formContainer}

				{formContainer payment}
					<h3>Informace o platbě</h3>

					<div class="form-group">
						{label whoPay class => 'col-sm-3' /}
						<div class="col-sm-3">
							{input whoPay class => 'form-control'}
						</div>
						{label paymentMethod class => 'col-sm-3' /}
						<div class="col-sm-3">
							{input paymentMethod class => 'form-control'}
						</div>
					</div>
				{/formContainer}
					
					
				<h3>Speciální služby</h3>
				
				<div class="form-group">
					<div class="col-sm-12">
						{input service class => 'form-control'}
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-sm-12 text-center">
						{input send class => 'btn btn-lg btn-primary'}
					</div>
				</div>
			{/form}
		</div>
	</div>




{/block}

{block scripts}
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.css" />
	<script src="{$basePath}/js/jquery-ui.min.js"></script>
	<script src="{$basePath}/js/i18n/datepicker-cz.js"></script>
	
	<script src="{$basePath}/js/jquery-clockpicker.min.js"></script>
	<link rel="stylesheet" href="{$basePath}/css/jquery-clockpicker.min.css" />
	<script>
	  $( function() {
		
		var dateFormat = "dd.mm.yy";
		var disabledDates = {php echo json_encode($occupiedList) }
		
		var pickup = $( "#frm-orderForm-pickup-pickupDate" )
			.datepicker({
				defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 3,
				dateFormat: 'dd.mm.yy',
				regional: "cz",
				minDate: new Date,
				beforeShowDay: function(date){
					var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
					return [ disabledDates.indexOf(string) == -1 ]
				}
			})
			.on( "change", function() {
			  destination.datepicker( "option", "minDate", getDate( this ) );
			});
			
		var destination = $( "#frm-orderForm-destination-destinationDate" )
			.datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			dateFormat: 'dd.mm.yy',
			regional: "cz",
			minDate: new Date
		  })
		  .on( "change", function() {
			pickup.datepicker( "option", "maxDate", getDate( this ) );
		  });

		function getDate( element ) {
		  var date;
		  try {
			date = $.datepicker.parseDate( dateFormat, element.value );
			var ts = Date.parse(date);
			date = new Date(ts);
		  } catch( error ) {
			date = null;
		  }
		  
		  return date;
		}
		
		
		//console.log('test');
		$('.clockpicker').clockpicker();
		
		
	  } );
	</script>

{/block}
