
{block content}

<section class="content-header">
  <h1>
	{if isset($item)}
		Speciální služba
		<small>#{$item->id}</small>
	{else}
		Speciální služby
	{/if}
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li><a href="{plink Service:default}"><i class="fa fa-truck"></i> Speciální služby</a></li>
	<li class="active">Speciální služba</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				{if isset($item)}{$item->name}{/if}
			</h2>
		</div>
	</div>
	{control serviceForm}
</section>
{/block}

