
{block content}

<section class="content-header">
  <h1>
	Denní přehled <small>dne {$day}.{$month}.{$year}</small>
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Denní přehled</li>
  </ol>
</section>

<section class="content" id="dashboard">
	
	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>

	{if $occupied}
		<div class="callout callout-info">
			<h4>Plně obsazen!</h4>
			<p>Den {$day}.{$month}.{$year} je již plně obsazen</p>
		</div>
	{/if}
	
	{if is_array($dayList)}
		{foreach $dayList as $truck_id => $data}
			<div class="row">
				<div class="col-md-12">
					<div class="box box-success">
						<div class="box-header with-border">
							<h4 class="box-title">Přehled zakázek vozidla <code>{$data['data']->platenumber}</code></h4>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-margin">
									<thead>
										<tr>
											<th>#</th>
											<th>Čas</th>
											<th>Trasa</th>
											<th>Cena</th>
										</tr>
									</thead>
									<tbody>
										{foreach $data['orders'] as $eOrder}
											<tr>
												<td>{$eOrder->id}</td>
												<td class="text-green">{$eOrder->slotFrom|date:'H:i'} - {$eOrder->slotTo|date:'H:i'}</td>
												<td>{$eOrder->pickupCity} - {$eOrder->destinationCity}</td>
												<td>{$eOrder->price|number:0:' ':' '} Kč</td>
												<td>
													<a class="btn btn-primary btn-xs" href="{plink Order:detail, id=>$eOrder->id}">
														<i class="fa fa-search" aria-hidden="true"></i> detaily
													</a>
												</td>
												
												<td>
													{if !is_null($eOrder->invoiceNumber)}
														<strong>Číslo faktury:</strong> {$eOrder->invoicePrefix}{$eOrder->invoiceNumber} {if $eOrder->invoiceSent==1}(odeslána){/if}
													{else}
														<p><small>faktura nevystavena</small></p>
													{/if}
												</td>
												<td>	
													<a href="{plink Order:editInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> upravit fakturu</a>
												</td>
												<td>
													{if !is_null($eOrder->invoiceNumber)}
														<a href="{plink Order:printInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> stáhnout fakturu</a>
														<a href="{plink Order:sendInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> odeslat fakturu</a>
													{/if}
												</td>
											</tr>
										{/foreach}
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		{/foreach}
	
		{if is_array($notAssigned) && count($notAssigned) > 0 }
				<div class="row">
					<div class="col-md-12">
						<div class="box box-danger">
							<div class="box-header with-border">
								<h4 class="box-title">Nepřiřazené zakázky</h4>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table class="table no-margin">
										<thead>
											<tr>
												<th>#</th>
												<th>Čas</th>
												<th>Trasa</th>
											</tr>
										</thead>
										<tbody>
											{foreach $notAssigned as $eOrder}
												<tr>
													<td>{$eOrder->id}</td>
													<td class="text-green">
														{if !is_null($eOrder->slotFrom)}
															{$eOrder->slotFrom|date:'H:i'} - {$eOrder->slotTo|date:'H:i'}
														{else}
															není určen
														{/if}
													</td>
													<td>{$eOrder->pickupCity} - {$eOrder->destinationCity}</td>
													<td>
														<a class="btn btn-primary btn-xs" href="{plink Order:detail, id=>$eOrder->id}">
															<i class="fa fa-search" aria-hidden="true"></i> detaily
														</a>
													</td>
													<td>
													{if !is_null($eOrder->invoiceNumber)}
														<strong>Číslo faktury:</strong> {$eOrder->invoicePrefix}{$eOrder->invoiceNumber} {if $eOrder->invoiceSent==1}(odeslána){/if}
													{else}
														<p><small>faktura nevystavena</small></p>
													{/if}
												</td>
												<td>	
													<a href="{plink Order:editInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> upravit fakturu</a>
												</td>
												<td>
													{if !is_null($eOrder->invoiceNumber)}
														<a href="{plink Order:printInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> stáhnout fakturu</a>
														<a href="{plink Order:sendInvoice id=>$eOrder->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> odeslat fakturu</a>
													{/if}
												</td>
												</tr>
											{/foreach}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
		{/if}
	
	{else}
		<div class="alert alert-warning alert-dismissible">
			<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
			<h4>
				<i class="icon fa fa-warning"></i>
				Žádné zakázky!
			</h4>
			Pro tento den nejsou naplánovány žádné zakázky.
		</div>
	{/if}
	
</section>

{/block}


