
{block content}

<section class="content-header">
  <h1>
	Hlavní strana
  </h1>
  <ol class="breadcrumb">
	<li class="active"><i class="fa fa-home"></i> Hlavní strana</li>
  </ol>
</section>

<section class="content" id="dashboard">
	
	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h4 class="box-title">Vozidla</h4>
				</div>
				<div class="box-body">
					TODO
				</div>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="box">
				<div class="box-body no-padding">
					<div id="calendar"></div>
				</div>
			</div>
		</div>
	</div>
	
</section>

{/block}

{block scriptsPage}
	<link rel="stylesheet" href="{$baseUri}/adminsection/plugins/fullcalendar/fullcalendar.min.css" />
	<link rel="stylesheet" href="{$baseUri}/adminsection/plugins/fullcalendar/fullcalendar.print.css" media="print" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	<script src="{$baseUri}/adminsection/plugins/fullcalendar/fullcalendar.min.js"></script>
	<script src="{$baseUri}/adminsection/plugins/fullcalendar/cs.js"></script>
<script>
$(document).ready(function() {
	var date = new Date();
	var d = date.getDate(),
		m = date.getMonth(),
		y = date.getFullYear();
	var data1 = {php echo json_encode($calendarSummaryAssigned) };
	var data2 = {php echo json_encode($calendarSummaryNotAssigned) };
	//console.log(y);
	var events = [];
	for(var i in data1) 
	{
		events.push({
			title: data1[i].counter +' zakázek',
			start: new Date(data1[i].year, data1[i].month-1, data1[i].day),
			url: 'homepage/daylist?year='+ data1[i].year +'&month='+ data1[i].month +'&day='+ data1[i].day,
			backgroundColor: "#00a65a", //green
			borderColor: "#00a65a" //green
		});
	}
	for(var i in data2) 
	{
		events.push({
			title: data2[i].counter +' zakázek',
			start: new Date(data2[i].year, data2[i].month-1, data2[i].day),
			url: 'homepage/daylist?year='+ data2[i].year +'&month='+ data2[i].month +'&day='+ data2[i].day,
			backgroundColor: "#f56954", //red
			borderColor: "#f56954" //red
		});
	}
	//console.log(events);

	/* initialize the calendar
     -----------------------------------------------------------------*/
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: null//'month,agendaWeek,agendaDay'
		},
		buttonText: {
			today: 'dnes',
			month: 'month',
			week: 'week',
			day: 'day'
		},
		locale: 'cs',

		//Random default events
		events: events,
		//editable: false,
//		navLinks: true,
//		navLinkDayClick: function(date, jsEvent) {
//			window.location.href = 'admin/statistics/add-cost?date='+date.format();
//		}
      
    });

    $('#calendar').fullCalendar('option', 'locale', 'cs');

});
</script>
{/block}
