{block contentHeader}{/block}

{block nadpis}Novinky{/block}

{block podnadpis}Seznam novinek{/block}

{block content}
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Seznam novinek
                </h3>
                <a n:href="Homepage:PridatNovinku" class="btn btn-success btn-sm pull-right">Přidat novinku</a>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Název</th>
                        <th>Datum</th>
                        <th>Aktivní</th>
                        <th>Úryvek textu</th>
                        <th></th>
                    </tr>
                    {foreach $novinky as $n}
                        <tr>
                            <td>{$n->Nazev}</td>
                            <td>{$n->DatumVytvoreni|date:'%d. %m. %Y'}</td>
                            <td>{$n->Aktivni}</td>
                            <td>{$n->Text}</td>
                            <td></td>
                        </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </section>
{/block}