{block contentHeader}{/block}

{block nadpis}Novinky{/block}

{block podnadpis}Nová novinka{/block}

{block back}<li><a n:href="Homepage:Novinky"><i class="fa fa-undo" aria-hidden="true"></i> Zpět</a></li>{/block}

{block content}
    <section class="content">
        <div class="box">
            <div class="box-body table-responsive">
                {form pridatNovinku}
                    <div class="form-group">
                        <label for="nazev">Název novinky</label>
                        {input nazev, class => 'form-control', id => 'nazev', placeholder => 'Zadejte název'}
                    </div>
                    <div class="form-group">
                        {input btnUlozit, class => 'btn btn-sm btn-success', id => 'btnUlozit'}
                    </div>
                {/form}
            </div>
        </div>
    </section>
{/block}