<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>ASAP apps - Webové stránky a systémy na míru</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Jaroslav Langer, Jakub Beneš, David Glevický">
	<meta name="keywords" content="web,webovky,na míru,webové stránky,levné webové stránky,responzivní design">
	<meta name="description" content="Nabízíme webové aplikace na míru">
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$basePath}/css/admin/AdminLTE.min.css" rel="stylesheet">
	<link href="{$basePath}/css/admin/skins/skin-blue.min.css" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<!-- Main Header -->
	<header class="main-header">
		<!-- Logo -->
		<a n:href="Homepage:Default" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>A</b>LT</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Admin</b>LTE</span>
		</a>
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- /.messages-menu -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs">User</span>
						</a>
						<ul class="dropdown-menu">
							<li class="user-header">
								<p>
									User
								</p>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profil</a>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat">Odhlásit se</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu">
				<li>
					<a n:href="Homepage:Default">
						<i class="fa fa-home"></i> <span>Hlavní strana</span>
					</a>
				</li>
				<li>
					<a n:href="Order:Default">
						<i class="fa fa-file-o"></i> <span>Zakázky</span>
					</a>
				</li>
				<li>
					<a n:href="Homepage:Novinky">
						<i class="fa fa-file-o"></i> <span>Novinky</span>
					</a>
				</li>
				<li>
					<a n:href="Shop:default">
						<i class="fa fa-shopping-cart"></i> <span>Obchody</span>
					</a>
				</li>
				<li>
					<a n:href="Truck:default">
						<i class="fa fa-truck"></i> <span>Vozidla</span>
					</a>
				</li>
				<li>
					<a n:href="Service:default">
						<i class="fa fa-diamond"></i> <span>Speciální služby</span>
					</a>
				</li>
				<li>
					<a n:href="Zip:default">
						<i class="fa fa-file-o"></i> <span>PSČ</span>
					</a>
				</li>
				<li>
					<a n:href="Static:default">
						<i class="fa fa-gears"></i> <span>Nastavení</span>
					</a>
				</li>
			</ul>
		</section>
	</aside>
	<div class="content-wrapper">
        {ifset contentHeader}
			<section class="content-header">
                {foreach $flashes as $flash}
					<div class="alert alert-{$flash->type}">
                        {$flash->message}
					</div>
                {/foreach}
				<h1>
                    {ifset nadpis}{include nadpis}{/ifset}
					<small>{ifset podnadpis}{include podnadpis}{/ifset}</small>
				</h1>
                {ifset back}
				<ol class="breadcrumb">
					{include back}
				</ol>
                {/ifset}
			</section>
        {/ifset}

		{include content}
	</div>

	<!-- patička -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.0
		</div>
		<strong>Copyright &copy; 2015 <a href="http://asap-apps.cz">ASAP apps</a>.</strong>
	</footer>
	<!-- konec patičky -->

</div>
	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/admin/app.min.js"></script>
	{/block}
	{ifset scriptsPage}{include scriptsPage}{/ifset}
</body>
</html>
