
{block content}
<section class="content-header">
  <h1>
	Obchody
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Obchody</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" id="items-box">

	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">
					{snippet items}
					<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
						<div class="row">
							<div class="col-sm-12">
								<table id="items" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
									<thead>
										<tr role="row">
											<th class="sorting"		tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:  40px;" aria-label=""></th>
											<th class="sorting"		tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 198px;" aria-label="" aria-sort="ascending">název</th>
											<th class="sorting"		tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 198px;" aria-label="" aria-sort="ascending">město</th>
											<th class=""			tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:  70px;" aria-label="">schváleno</th>
											<th class=""			tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:  70px;" aria-label=""></th>
											<th class=""			tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:  70px;" aria-label=""></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					{/snippet items}
				</div>
			</div>
		</div>
	</div>

</section>
{/block}

{block scriptsPage}
	<link href="{$baseUri}/adminsection/plugins/dataTables/dataTables.bootstrap.css" media="all" rel="stylesheet" type="text/css" />
	<script src="{$baseUri}/adminsection/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="{$baseUri}/adminsection/plugins/datatables/dataTables.bootstrap.min.js"></script>
	<link  href="{$baseUri}/adminsection/plugins/iCheck/all.css" rel="stylesheet" />
	<script src="{$baseUri}/adminsection/plugins/iCheck/icheck.min.js"></script>
	<script>
	  var checkboxEventsActive = true;
	  $(function () {
		var otable = $('#items').DataTable({
			bProcessing: true,
			bServerSide: true,
			aaSorting: [[ 1, "asc" ]],
			sAjaxSource: 'table',
			lengthMenu: [[10, 100, 200, -1], [10, 100, 200, "All"]],
			paging: true,
			lengthChange: true,
			searching: true,
			ordering: true,
			info: true,
			autoWidth: false,
			bStateSave: true,
			oLanguage: {
				"sSearch": "Hledat:",
				"sLengthMenu": "Zobrazit _MENU_ položek na stranu",
				"sInfo": "Zobrazeny položky od _START_ do _END_ z celkového počtu _TOTAL_",
				"sInfoFiltered": "(filtrováno z celkem _MAX_ položek)",
				"sInfoEmpty": "nic nezobrazeno",
				"sZeroRecords": "nic nenalezeno",
				"sProcessing": "Prosím čekejte...",
				"oPaginate": {
					"sFirst":    "první",
					"sPrevious": "předchozí",
					"sNext":     "další",
					"sLast":     "poslední"
				}
			},
			aoColumns: [
				{ "mData": "id"},
				{ "mData": "name" },
				{ "mData": "city"},
				{ "mData": "approved", "orderable": false},
				{ "mData": "id", "orderable": false },
				{ "mData": "id", "orderable": false },
			],
			fnRowCallback: function( nRow, aData, iDisplayIndex ) {
				var checked = (aData['checked']==true) ? 'checked' : '';
				
				if( aData['centre'] != null ) $('td:eq(1)', nRow).append( '<br><small class="text-muted">'+ aData['centre'] +'</small>');
				
				if(aData['approved']==1)
					$('td:eq(3)', nRow).html( '<a class="btn btn-success btn-xs" href="update-approved/'+ aData['id'] +'?approved=0"><i class="fa fa-check" aria-hidden="true"></i> schváleno</a>');
				else
					$('td:eq(3)', nRow).html( '<a class="btn btn-danger btn-xs" href="update-approved/'+ aData['id'] +'?approved=1"><i class="fa fa-close" aria-hidden="true"></i> neschváleno</a>');
				
				$('td:eq(4)', nRow).html( '<a class="btn btn-primary btn-xs" href="detail/'+ aData['id'] +'"><i class="fa fa-search" aria-hidden="true"></i> detaily</a>');
				$('td:eq(5)', nRow).html( '<a class="btn btn-danger btn-xs" href="delete/'+ aData['id'] +'" onclick="return confirm(\'Opravdu smazat?\')"><i class="fa fa-trash" aria-hidden="true"></i> smazat</a>');
				
			},
		});
		
		$("#example1_length select").on( 'change', function () {
	        otable
	            .column( $(this).parent().index()+':visible' )
	            .search( this.value )
	            .draw();
	    } );
		
		// Apply the filter
		$("#example1_filter input[type=search]").on( 'keyup change', function () {
			otable
				.column('name' )
				.search( 'plech' )
				.draw();
		} );
		
		
		
		
	  });
	</script>
{/block}