
{block content}

<section class="content-header">
  <h1>
	{if isset($item)}
		Obchod
		<small>#{$item->id}</small>
	{else}
		Nová Obchod
	{/if}
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li><a href="{plink Shop:default}"><i class="fa fa-shopping-cart"></i> Obchody</a></li>
	<li class="active">Obchod</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice" id="item">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<i class="fa fa-shopping-cart"></i> {if isset($item)}{$item->name}{/if}
			</h2>
		</div>
	</div>
	
	{control itemForm}
	
      
     

</section>
{/block}


