
{block content}
<section class="content-header">
  <h1>
	Vozidla
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Vozidla</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" id="orders">

	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>
	
	
	<div class="row">
		<div class="col-sm-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Vozidla</h3>
					<a href="{plink add}" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> nové vozidlo</a>
				</div>
				<div class="box-body">
					<table id="items" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
							<tr role="row">
								<th class="" tabindex="0" aria-controls="DataTables_Table_0" aria-label="">ID</th>
								<th class="" tabindex="0" aria-controls="DataTables_Table_0" aria-label="" aria-sort="ascending">značka</th>
								<th class="" tabindex="0" aria-controls="DataTables_Table_0" aria-label="" aria-sort="ascending">upravit</th>
								<th class="" tabindex="0" aria-controls="DataTables_Table_0" aria-label="" aria-sort="ascending">smazat</th>
							</tr>
						</thead>
						<tbody>
							{foreach $items as $item}
								<tr>
									<td>{$item->id}</td>
									<td>{$item->platenumber}</td>
									<td><a class="btn btn-primary btn-xs" href="{plink detail id=>$item->id}"><i class="fa fa-edit" aria-hidden="true"></i> upravit</a></td>
									<td><a href="{plink delete id=>$item->id}" class="btn btn-sm btn-danger" onclick="return confirm('Opravdu smazat?')"><i class="fa fa-trash"></i> smazat</a></td>
								</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		


</section>
{/block}


