
{block content}

<section class="content-header">
  <h1>
	{if isset($item)}
		Vozidlo
		<small>#{$item->id}</small>
	{else}
		Nové vozidlo
	{/if}
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li><a href="{plink Truck:default}"><i class="fa fa-truck"></i> Vozidla</a></li>
	<li class="active">Vozidlo</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice" id="order">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				{if isset($item)}{$item->platenumber}{/if}
			</h2>
		</div>
	</div>
	{control truckForm}
</section>
{/block}

