{*
 * @version    $Id: template.phtml 2 2009-07-13 20:58:52Z david@grudl.com $
 * @param Paginator $paginator
 * @param array     $steps
 *}



{if $paginator->pageCount > 1}
<ul class="pagination pull-right">
	{if $paginator->isFirst()}
		<li class="disabled">
			<a href="#" aria-label="Předchozí">
				<span aria-hidden="true">« Předchozí</span>
			</a>
		</li>
	{else}
		<li>
			<a href="{link this, 'page' => $paginator->page - 1}" aria-label="Předchozí">
				« Předchozí
			</a>
		</li>
	{/if}

	{foreach $steps as $step}
	{if $step == $paginator->page}
		<li class="active">
			<a href="#" aria-label="{$step}">
				{$step}
			</a>
		</li>
	{else}
		<li>
			<a href="{link this, 'page' => $step}" aria-label="{$step}">
				{$step}
			</a>
		</li>
	{/if}
	{if $iterator->nextValue > $step + 1}<span>…</span>{/if}
	{/foreach}

	{if $paginator->isLast()}
		<li class="disabled">
			<a href="#" aria-label="Další">
				<span aria-hidden="true">Další »</span>
			</a>
		</li>
	{else}
		<li>
			<a href="{link this, 'page' => $paginator->page + 1}" aria-label="Další">
				Další »
			</a>
		</li>
	{/if}
</ul>
{/if}
