{*
 * @version    $Id: template.phtml 2 2009-07-13 20:58:52Z david@grudl.com $
 * @param Paginator $paginator
 * @param array     $steps
 *}

{if $paginator->pageCount > 1}
<ul class="pagination">
	{if $paginator->isFirst()}
		<li class="disabled">
			<a href="#" aria-label="Předchozí">
				<span aria-hidden="true">« Předchozí</span>
			</a>
		</li>
	{else}
		<li>
			<a href="{link this, 'page' => $paginator->page - 1}" aria-label="Předchozí">
				« Předchozí
			</a>
		</li>
	{/if}

	{foreach $steps as $step}
	{if $step == $paginator->page}
		<span class="current">{$step}</span>
	{else}
		<a href="{link this, 'page' => $step}">{$step}</a>
	{/if}
	{if $iterator->nextValue > $step + 1}<span>…</span>{/if}
	{/foreach}

	{if $paginator->isLast()}
	<span class="button">Další »</span>
	{else}
	<a href="{link this, 'page' => $paginator->page + 1}">Další »</a>
	{/if}
</ul>
{/if}