<!DOCTYPE html>
<html>
<head>
	<title>Doprava z obchodu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{ifset title}{include title|stripHtml} | {/ifset}</title>
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style2.css">
	<link rel="stylesheet" href="{$basePath}/css/custom.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<header class="site-header">
	<!-- NAVIGATION -->
	<nav class="navbar navbar-default navbar-fixed-top" id="navbar-top">
		<div class="container">
			<div class="navbar-header">
				<a id="kosik-mobile" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Homepage:default"><img class="img-responsive" src="{$basePath}/img/logo.png" alt="logo" style="height:60px;width:auto;position:relative;top:-20px;"> </a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right" id="navbar-right-1">
					<li><a href="#uvod">Home</a></li>
					<li><a href="#section-1">Sekcia 1</a></li>
					<li><a href="#section-2">Sekcia 2</a></li>
					<li><a href="#section-3">Sekcia 3</a></li>
					<li><a href="#section-4">Sekcia 4</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" id="kosik" href="#"><i class="fa fa-shopping-cart" id="shopping-cart" aria-hidden="true"></i>
							<span id="kolecko"></span>
						</a>
						<ul class="dropdown-menu" id="dropdown-menu-1">
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

{include content}

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20480.331637503637!2d14.393738347644785!3d50.085510719867806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94e91381d33f%3A0x2600af105c240cf2!2zUHJhaGEgMSwgxIxlc2vDoSByZXB1Ymxpa2E!5e0!3m2!1ssk!2ssk!4v1483782941847" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-sm-3">
				<div class="footer-kontakt">
					<h4>Kontakt</h4>
					<i class="fa fa-phone-square" aria-hidden="true"></i> +323 942 937 <br>
					<i class="fa fa-envelope" aria-hidden="true"></i> info@dopravazobchodu.cz <br>
					<h4>Adresa</h4>
					Názov firmy s.r.o. <br>
					Dlhá 16 <br>
					Praha 6 <br>
					IČO: 12345678 <br>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>Stránky</h4>
				<div class="footer-links">
					<a href="#">Home</a>
					<a href="#">O nás</a>
					<a href="#">Page 1 </a>
					<a href="#">Page 2</a>
					<a href="#">Kontakt</a>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>Sleduj nás</h4>
				<div class="social-kontakt">
					<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script>
    // Bootstrap Scrollspy
    $(document).ready(function(){
        // Add scrollspy to <body>
        $('body').scrollspy({
			target: ".navbar", offset: 50
        });

        // Add smooth scrolling on all links inside the navbar
        $("#myNavbar a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            }  // End if
        });
    });
</script>

{ifset scripts}{include scripts}{/ifset}
</body>
</html>
