
{block content}
<section class="content-header">
  <h1>
	Nastavení
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Nastavení</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" id="orders">

	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>
	
	
	<div class="row">
		<div class="col-sm-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Nastavení</h3>
					<a href="{plink add}" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> nové nastavení</a>
				</div>
				<div class="box-body">
					{snippet items}
					<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
						<div class="row">
							<div class="col-sm-12">
								<table id="items" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
									<thead>
										<tr role="row">
											<th class="" tabindex="0" aria-controls="DataTables_Table_0" style="width:  60px;" aria-label="">ID</th>
											<th class="" tabindex="0" aria-controls="DataTables_Table_0" style="width: 100px;" aria-label="" aria-sort="ascending">název</th>
											<th class="" tabindex="0" aria-controls="DataTables_Table_0" style="width: 100px;" aria-label="" aria-sort="ascending">hodnota</th>
											<th class="" tabindex="0" aria-controls="DataTables_Table_0" style="width: 70px;" aria-label="" aria-sort="ascending">upravit</th>
										</tr>
									</thead>
									<tbody>
										{foreach $items as $item}
											<tr>
												<td>{$item->id}</td>
												<td>{$item->name}</td>
												<td>{if $item->type=='text'}{$item->text|truncate:100}{/if}</td>
												<td><a class="btn btn-primary btn-xs" href="{plink detail id=>$item->id}"><i class="fa fa-edit" aria-hidden="true"></i> upravit</a></td>
											</tr>
										{/foreach}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{/snippet items}
				</div>
			</div>
		</div>
		
	</div>
		


</section>
{/block}


