
{block content}

<section class="content-header">
  <h1>
	{if isset($item)}
		Nastavení
		<small>#{$item->id}</small>
	{else}
		Nové nastavení
	{/if}
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li><a href="{plink Static:default}"><i class="fa fa-gears"></i> Nastavení</a></li>
	<li class="active">Nastavení</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice" id="static">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				{if isset($item)}{$item->name}{/if}
			</h2>
		</div>
	</div>
	
	{control staticForm}
	
	{if isset($item) && $item->type=='template'}
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">
					Nápověda
				</h2>
				<p>Při tvorbě šablony můžete použít šablonové značky, které budou při jejím použítí nahrazeny patřičným obsahem.</p>
				
				<dl class="dl-horizontal" n:syntax="off">
					<dt><code>{$order['id']}</code></dt>
					<dd>číslo objednávky, např.: 2160216</dd>
					
					<dt><code>{$order['phone']}</code></dt>
					<dd>telefonní číslo zákazníka</dd>
					
					<dt><code>{$order['email']}</code></dt>
					<dd>email zákazníka</dd>
					
					<dt><code>{$static->webName}</code></dt>
					<dd>název eshopu</dd>
					
					<br>
					
					<dt><code>{$order['deliveryAddress']->firstname}</code></dt>
					<dd>doručovací křestní jméno</dd>
					
					<dt><code>{$order['deliveryAddress']->surname}</code></dt>
					<dd>doručovací příjmení</dd>
					
					<dt><code>{$order['deliveryAddress']->street}</code></dt>
					<dd>doručovací ulice</dd>
					
					<dt><code>{$order['deliveryAddress']->house}</code></dt>
					<dd>doručovací číslo domu</dd>
					
					<dt><code>{$order['deliveryAddress']->city}</code></dt>
					<dd>doručovací město</dd>
					
					<dt><code>{$order['deliveryAddress']->zip}</code></dt>
					<dd>doručovací PSČ</dd>
					
					<br>
				
					<dt><code>{$order['paymentAddress']->firstname}</code></dt>
					<dd>fakturační křestní jméno</dd>
					
					<dt><code>{$order['paymentAddress']->surname}</code></dt>
					<dd>fakturační příjmení</dd>
					
					<dt><code>{$order['paymentAddress']->street}</code></dt>
					<dd>fakturační ulice</dd>
					
					<dt><code>{$order['paymentAddress']->house}</code></dt>
					<dd>fakturační číslo domu</dd>
					
					<dt><code>{$order['paymentAddress']->city}</code></dt>
					<dd>fakturační město</dd>
					
					<dt><code>{$order['paymentAddress']->zip}</code></dt>
					<dd>fakturační PSČ</dd>
					
					<dt><code>{$order['paymentAddress']->company}</code></dt>
					<dd>fakturační firma</dd>
					
					<dt><code>{$order['paymentAddress']->regnum}</code></dt>
					<dd>fakturační IČO</dd>
					
					<dt><code>{$order['paymentAddress']->vatnum}</code></dt>
					<dd>fakturační DIČO</dd>
					
					<br>
					
					<dt><code>{$static->mailFooter|noescape}</code></dt>
					<dd>patička emailu</dd>
				</dl>
			</div>
		</div>
	{/if}
</section>

{/block}


{block #includes}
	{if isset($item) && $item->type=='template'}
		<link  href="{$baseUri}/adminsection/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
		<script src="{$baseUri}/adminsection/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

		<script>
		$(function () {
			//bootstrap WYSIHTML5 - text editor
			$("#frm-staticForm-text").wysihtml5();
		});
	{/if}
</script>
{/block}

