{block main}



<ol class="breadcrumb">
  <li><a n:href=":Admin:Default:default">Home</a></li>
  <li class="active">{$row->name}</li>
</ol>

<h1><span n:block="title">{$row->name}</span></h1>


{control richTextForm}


<script src="{$baseUri}/vendor/tinymce/tinymce/tinymce.min.js"></script>

<!-- TinyMCE -->
<script>
	tinymce.init({
		selector: "#frm-richTextForm-text",
		theme: "modern",
		height: 300,
		plugins: [
			 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
			 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
			 "save table contextmenu directionality emoticons template paste textcolor"
		],
		content_css: {$baseUrl}+"/front/css/bootstrap.min.css,"+{$baseUrl}+"/front/css/style.css",
		toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent | link image | preview media fullpage  emoticons", 
		style_formats: [
			{ title: 'Bold text', inline: 'b'},
			{ title: 'Red text', inline: 'span', styles: { color: '#ff0000'}},
			{ title: 'Red header', block: 'h1', styles: { color: '#ff0000'}},
			{ title: 'Example 1', inline: 'span', classes: 'example1'},
			{ title: 'Example 2', inline: 'span', classes: 'example2'},
			{ title: 'Table styles'},
			{ title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
		],
		visual_table_class: "table",
		entities : "160,nbsp,162,cent,8364,euro,163,pound",
		templates: [ 
			{ title: 'Blue alert', description: 'Some desc 1', content: '<div class="alert alert-info" role="alert">text goes here</div>'}, 
			{ title: 'Yellow alert', description: 'Some desc 2', content: '<div class="alert alert-warning" role="alert">text goes here</div>'}, 
			{ title: '3 tabs', description: '3 zalozky', content: '<ul class="nav nav-tabs"><li class="active"><a data-toggle="tab" href="#one"><i class="icon-briefcase"></i>One</a></li><li><a data-toggle="tab" href="#two">Two</a></li><li><a data-toggle="tab" href="#three">Three</a></li></ul>\n\<div class="tab-content"><div id="one" class="tab-pane active"><p>obsah první záložky</p></div><div id="two" class="tab-pane"><p>obsah druhé záložky</p></div><div id="three" class="tab-pane"><p>obsah třetí záložky</p></div></div>'}, 
		],
		table_default_attributes: {
			class: 'table'
		},
		table_class_list: [
			{ title: 'table', value: 'table'},
			{ title: 'striped', value: 'table-striped'},
			{ title: 'bordered', value: 'table-bordered'},
			{ title: 'hover rows', value: 'table-hover'},
			{ title: 'condensed', value: 'table-condensed'},
			{ title: 'responsive', value: 'table-responsive'},
		]
    });
</script>