{block main}



<ol class="breadcrumb">
  <li><a n:href=":Admin:Default:default">Home</a></li>
  <li class="active">{$row->name}</li>
</ol>

<h1><span n:block="title">{$row->name}</span></h1>


{control timestampForm}


