
{block content}
<section class="content-header">
  <h1>
	Zakázky
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní stránka</a></li>
	<li class="active">Zakázky</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" id="orders">
	
<div class="row">
	{form filterForm}
		<div class="col-sm-2">
			{label date, class=>'control-label' /}
			{input date}
		</div>
		<div class="col-sm-2">
			{label truck, class=>'control-label' /}
			{input truck}
		</div>
		<div class="col-sm-2">
			{label shop, class=>'control-label' /}
			{input shop}
		</div>
		<div class="col-sm-2">
			<label class="control-label">&nbsp;</label><br>
			{input send}
		</div>
	{/form}
</div>
	
{if count($orders)}
	{snippet orders}
	
		<div id="hlasky">
			{foreach $flashes as $flash}
				<div class="callout callout-{$flash->type}">
					<h4>{$flash->message}</h4>
				</div>
			{/foreach}
			&nbsp;
		</div>
		
		{foreach $orders as $idOrder=>$order}
		
		<div class="box box-solid order" id="order_{$order->id}">
			
			<div class="box-header with-borderorder-header row">
				<div class="col-xs-6">
					<h3 class="order-name box-title">{$order->id}</h3>
					<a class="btn btn-primary btn-xs" href="{plink detail id=>$order->id}"><i class="fa fa-edit" aria-hidden="true"></i> upravit</a>
				</div>

				<div class="col-xs-6 order-date text-right">
					{if !is_null($order->slotFrom)}
						{$order->slotFrom|date:'j.n.Y H:i'}
					{else}
						{$order->pickupDate|date:'j.n.Y'}
					{/if}
				</div>
			</div>
			
			<div class="box-body order-body">
				<div class="row">
					<div class="col-xs-3">
						<strong>Odkud:</strong><br />
						{$order->pickupName} {if !is_null($order->pickupCentre) && !empty($order->pickupCentre)} ({$order->pickupCentre}){/if}<br />
						{$order->pickupStreet}<br />
						{$order->pickupCity}<br />
					</div>
					
					<div class="col-xs-3">
						<strong>Kam:</strong><br />
						{$order->destinationCompany}<br />
						{$order->destinationName}<br />
						{$order->destinationStreet}<br />
						{$order->destinationCity}<br />
					</div>
					
					<div class="col-xs-2">
						Přiděleno vozidlo: <br />
						<strong>
							{if !is_null($order->truck)}
								{$order->truck->platenumber}
							{else}
								žádné
							{/if}
						</strong><br />
						Cena: <strong>{$order->price|number:0:',':' '} Kč</strong>
					</div>
					
					<div class="col-sm-4 invoice-col">
						{if !is_null($order->invoiceNumber)}
							<strong>Číslo faktury:</strong> {$order->invoiceNumber} {if $order->invoiceSent==1}(odeslána){/if}
						{else}
							<p><small>faktura nevystavena</small></p>
						{/if}
						<br />
						<a href="{plink editInvoice id=>$order->id}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> upravit fakturu</a>
						
						{if !is_null($order->invoiceNumber)}
							<a href="{plink printInvoice id=>$order->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> stáhnout fakturu</a>
							<a href="{plink sendInvoice id=>$order->id}" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> odeslat fakturu</a>
						{/if}
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 text-right">
						<a href="{plink delete id=>$order->id}" class="btn btn-sm btn-danger" onclick="return confirm('Opravdu smazat?')"><i class="fa fa-trash"></i> smazat</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="clearfix" />
		{/foreach}
	
		<script type="text/javascript">
			if( typeof($) == 'function' )
			{
				$(function () {
					$('.modal-backdrop').remove();
				});
				
				//Flat red color scheme for iCheck
				$('input[type="checkbox"].flat-green').iCheck({
					checkboxClass: 'icheckbox_flat-green',
					radioClass: 'iradio_flat-green'
				});
			}
		</script>
	
	{/snippet orders}
	
	{control vp}
	<div class="clearfix" />
{else}
	<div class="alert alert-warning alert-dismissible">
		<h4>
			<i class="icon fa fa-warning"></i> Pozor!
		</h4>
		Žádné objednávky nenalezeny
	</div>
{/if}

</section>
{/block}

{block scriptsPage}
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.css" />
	<script src="{$basePath}/js/jquery-ui.min.js"></script>
	<script src="{$basePath}/js/i18n/datepicker-cz.js"></script>
	
	<script>
	  $( function() {
		
		var pickup = $( "#frm-filterForm-date" )
			.datepicker({
				//defaultDate: "+1w",
				changeMonth: true,
				//numberOfMonths: 3,
				dateFormat: 'dd.mm.yy',
				regional: "cz"
			});
		
	  } );
	</script>

{/block}