
{block content}

<section class="content-header">
  <h1>
	{if isset($item)}
		Zakázka
		<small>#{$item->id}</small>
	{else}
		Nová zakázka
	{/if}
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Zakázka</li>
  </ol>
</section>

<!-- Main content -->
<section class="invoice" id="item">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<i class="fa fa-file-o"></i> {if isset($item)}{$item->id}{/if}
			</h2>
		</div>
	</div>
	
	
	{form orderForm class => 'form-horizontal'}
		<div class="errors" n:if="$form->hasErrors()">
			<div n:foreach="$form->errors as $error" class="alert alert-danger" role="alert">{$error}</div>
		</div>
		
		{formContainer items}
			<h3>Informace o zásilce</h3>
			<fieldset class="container-fluid container-items">
				<div class="form-group">
					{label volume class => 'col-sm-3 control-label' /}
					<div class="col-sm-2">
						{input volume class => 'form-control'}
					</div>
					<div class="col-sm-1 description">
						m<sup>3</sup>
					</div>

					{label weight class => 'col-sm-3 control-label' /}
					<div class="col-sm-2">
						{input weight class => 'form-control'}
					</div>
					<div class="col-sm-1 description">
						kg
					</div>
				</div>
				
				<div class="form-group">
					{label qty class => 'col-sm-3 control-label' /}
					<div class="col-sm-2">
						{input qty class => 'form-control'}
					</div>
					<div class="col-sm-1 description">
					</div>

					{label ordernumber class => 'col-sm-3 control-label' /}
					<div class="col-sm-2">
						{input ordernumber class => 'form-control'}
					</div>
				</div>
				
				<div class="form-group">
					{label paid class => 'col-sm-3 control-label' /}
					<div class="col-sm-8">
						{input paid class => 'form-control'}
					</div>
				</div>
			</fieldset>
		{/formContainer}
		
		
		{formContainer slot}
			<h3>Informace o vozidle</h3>

			<div class="form-group">
				{label slotDate class => 'col-sm-3 control-label' /}
				<div class="col-sm-2">
					{input slotDate class => 'form-control'}
				</div>

				{label slotTime class => 'col-sm-4 control-label' /}
				<div class="col-sm-2 clockpicker" data-autoclose="true">
					{input slotTime class => 'form-control'}

					<span class="input-group-addon" style="display:none">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				{label truck class => 'col-sm-3 control-label' /}
				<div class="col-sm-8">
					{input truck class => 'form-control'}
				</div>
			</div>
		{/formContainer}
		
		
		{formContainer pickup}
			<h3>Informace o vyzvednutí</h3>
			<div class="form-group">
				{label shop class => 'col-sm-3 control-label' /}
				<div class="col-sm-8">
					{input shop class => 'form-control'}
				</div>
			</div>
			<fieldset class="container-fluid container-pickup" id="container-setshop">
				<div class="form-group">
					{label name class => 'col-sm-3 control-label' /}
					<div class="col-sm-8">
						{input name class => 'form-control'}
					</div>
				</div>
				<div class="form-group">
					{label centre class => 'col-sm-3 control-label' /}
					<div class="col-sm-8">
						{input centre class => 'form-control'}
					</div>
				</div>
				<div class="form-group">
					{label street class => 'col-sm-3 control-label' /}
					<div class="col-sm-8">
						{input street class => 'form-control'}
					</div>
				</div>
				<div class="form-group">
					{label city class => 'col-sm-3 control-label' /}
					<div class="col-sm-3">
						{input city class => 'form-control'}
					</div>
					{label zip class => 'col-sm-2 control-label' /}
					<div class="col-sm-3">
						{input zip class => 'form-control'}
					</div>
				</div>
				<div class="form-group">
					{label phone class => 'col-sm-3 control-label' /}
					<div class="col-sm-3">
						{input phone class => 'form-control'}
					</div>
					{label email class => 'col-sm-2 control-label' /}
					<div class="col-sm-3">
						{input email class => 'form-control'}
					</div>
				</div>
				<div class="form-group">
					{label contactPerson class => 'col-sm-3 control-label' /}
					<div class="col-sm-8">
						{input contactPerson class => 'form-control'}
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				{label pickupDate class => 'col-sm-3 control-label' /}
				<div class="col-sm-3">
					{input pickupDate class => 'form-control'}
				</div>

				{label pickupTime class => 'col-sm-2 control-label' /}
				<div class="col-sm-3 clockpicker" data-autoclose="true">
					{input pickupTime class => 'form-control'}

					<span class="input-group-addon" style="display:none">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
		{/formContainer}


		{formContainer destination}
			<h3>Informace o doručení</h3>

			<div class="form-group">
				{label company class => 'col-sm-3 control-label' /}
				<div class="col-sm-8">
					{input company class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label name class => 'col-sm-3 control-label' /}
				<div class="col-sm-8">
					{input name class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label street class => 'col-sm-3 control-label' /}
				<div class="col-sm-8">
					{input street class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label city class => 'col-sm-3 control-label' /}
				<div class="col-sm-3">
					{input city class => 'form-control'}
				</div>
				{label zip class => 'col-sm-2 control-label' /}
				<div class="col-sm-3">
					{input zip class => 'form-control'}
				</div>
			</div>

			<div class="form-group">
				{label destinationDate class => 'col-sm-3 control-label' /}
				<div class="col-sm-3">
					{input destinationDate class => 'form-control'}
				</div>

				{label destinationTime class => 'col-sm-2 control-label' /}
				<div class="col-sm-3 clockpicker" data-autoclose="true">
					{input destinationTime class => 'form-control'}

					<span class="input-group-addon" style="display:none">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
		{/formContainer}

		{formContainer payment}
			<h3>Informace o platbě</h3>

			<div class="form-group">
				{label whoPay class => 'col-sm-3 control-label' /}
				<div class="col-sm-3">
					{input whoPay class => 'form-control'}
				</div>
				{label paymentMethod class => 'col-sm-3 control-label' /}
				<div class="col-sm-3">
					{input paymentMethod class => 'form-control'}
				</div>
			</div>
		{/formContainer}
			
		<h3>Speciální služby</h3>
		
		<div class="form-group">
			<div class="col-sm-12">
				{input service class => 'form-control'}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12 text-center">
				{input send class => 'btn btn-lg btn-primary'}
			</div>
		</div>
		
	{/form}
     

</section>
{/block}


{block scriptsPage}
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.css" />
	<script src="{$basePath}/js/jquery-ui.min.js"></script>
	<script src="{$basePath}/js/i18n/datepicker-cz.js"></script>
	
	<script src="{$basePath}/js/jquery-clockpicker.min.js"></script>
	<link rel="stylesheet" href="{$basePath}/css/jquery-clockpicker.min.css" />
	<script>
	  $( function() {
		
		var dateFormat = "dd.mm.yy";
		var disabledDates = ["2017-01-19","2017-01-22","2017-01-30"];
		
		var pickup = $( "#frm-orderForm-pickup-pickupDate" )
			.datepicker({
				defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 3,
				dateFormat: 'dd.mm.yy',
				regional: "cz",
				minDate: new Date,
				beforeShowDay: function(date){
					var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
					return [ disabledDates.indexOf(string) == -1 ]
				}
			})
			.on( "change", function() {
			  destination.datepicker( "option", "minDate", getDate( this ) );
			});
			
		var destination = $( "#frm-orderForm-destination-destinationDate" )
			.datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			dateFormat: 'dd.mm.yy',
			regional: "cz",
			minDate: new Date
		  })
		  .on( "change", function() {
			pickup.datepicker( "option", "maxDate", getDate( this ) );
		  });
		  
		var slot = $( "#frm-orderForm-slot-slotDate" )
			.datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			dateFormat: 'dd.mm.yy',
			regional: "cz",
			minDate: new Date
		  });

		function getDate( element ) {
		  var date;
		  try {
			date = $.datepicker.parseDate( dateFormat, element.value );
			var ts = Date.parse(date);
			date = new Date(ts);
		  } catch( error ) {
			date = null;
		  }
		  
		  return date;
		}
		
		$('.clockpicker').clockpicker();
		
		
	  } );
	</script>

{/block}

