
{block content}

<section class="content-header">
  <h1>
	Faktura 
  </h1>
  <ol class="breadcrumb">
	<li><a href="{plink Homepage:default}"><i class="fa fa-home"></i> Hlavní strana</a></li>
	<li class="active">Denní přehled</li>
  </ol>
</section>

<section class="content" id="dashboard">
	
	<div id="hlasky">
		{foreach $flashes as $flash}
			<div class="callout callout-{$flash->type}">
				<h4>{$flash->message}</h4>
			</div>
		{/foreach}
		&nbsp;
	</div>

	<div class="row">
		<div class="col-xs-12">
			{control invoiceForm}
		</div>
	</div>
	
	
	
</section>

{/block}


