
<header>
	<h1>Faktura {$order->invoicePrefix}{$order->invoiceNumber}</h1>
</header>

<main>
	<div class="row" style="margin-top: 60px">
		<div class="col">
			<h2>Dodavatel:</h2>
			<h3>{$static->company}</h3>
			<div class="address">
				<div>{$static->street} {$static->house}</div>
				<div>{$static->zip} {$static->city}</div>
				
				<div>IČ: {$static->regNum}</div>
				<div>DIČ: {$static->vatNum}</div>
			</div>
		</div>
		<div class="col">
			<h2>Odběratel:</h2>
			
			<h3>{$order->destinationCompany}, {$order->destinationName}</h3>
			
			<div class="address">
				<div>
					{$order->destinationStreet}<br>
					{$order->destinationCity}<br>
					{$order->destinationZip} 
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="date">Bankovní účet: {$static->account}/{$static->bankCode}</div>
			<div class="date">VS: {$order->id}</div>
		</div>
		<div class="col">
			<div class="date">Datum vystavení: {$order->invoiceCreatedDate|date:"d.m.Y"}</div>
			<div class="date">Datum splatnosti: {$order->dueDate|date:"d.m.Y"}</div>
		</div>
	</div>

	<table cellspacing="0" cellpadding="0">
		<thead class="thead">
			<tr>
				<th class="no bb"></th>
				<th class="desc bb"></th>
				<th class="unit bb">Cena</th>
				<th class="qty bb">počet</th>
				<th class="total bb">
					Celkem cena
				</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td class="no"></td>
			<td class="desc"><h3>Základní cena</h3></td>
			<td class="unit">{$order->basePrice|number:0:' ':' '} Kč</td>
			<td class="qty">1</td>
			<td class="total">{$order->basePrice|number:0:' ':' '} Kč</td>
		</tr>
		
		{if isset($order->service) && is_array($order->service) && count($order->service) > 0 }
			{foreach $order->service as $service}
				<tr>
					<td class="no"></td>
					<td class="desc"><h3>{$service->name}</h3></td>
					<td class="unit">{$service->price|number:0:' ':' '} Kč</td>
					<td class="qty">1</td>
					<td class="total">{$service->price|number:0:' ':' '} Kč</td>
				</tr>
			{/foreach}
		{/if}
		</tbody>
		<tfoot class="tfoot">
			<tr>
				<td colspan="4" class="ar">Celkem</td>
				<td colspan="1" class="ar">{$order->price|number:0:' ':' '} Kč</td>
			</tr>
		</tfoot>
	</table>
</main>

<footer>
	{$static->invoiceFooter}
</footer>
