<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{$baseUri}/adminsection/dist/css/invoice.css" media="all" />
</head>
<body>
	{var $counter=0;}
	{foreach $orders as $order}
		{php $counter++; }
		{include 'printInvoice.latte', order => $order}
		
		

		{if $counter < count($orders)}
			<pagebreak />
		{/if}
	{/foreach}
</body>
</html>