#headline-page{
    width: 100%;
    height: 70px;
    color: white;
    background-image: url(../img/section-3-bg.jpg);
}

/*
#order-form h2, #order-form h3, #order-form h4{
    border-left: solid 4px #428BCA;
    padding-left: 10px;
}
*/

#order-form h2, #order-form h3, #order-form h4{
    text-align: center;
}

#order-form h2::after, #order-form h3::after, #order-form h4::after{
    content: '';
    display: block;
    width: 130px;
    margin: 10px auto auto;
    background: red;
    border-top: 2px solid #428bca;
}

/* formulář */
.input-group-addon{
    background-color: #428bca;
    color: white;
    border: none;
    border-radius: 0;
}

.input, select{
    border-radius: 0;
}

.form-control{
    border-radius: 0;
}

#frm-orderForm label{
    padding-top: 7px;
}

/*
#order-form h3::after {
    content: '';
    display: block;
    width: 50px;
    background: red;
    border-top: 1px solid #428bca;
}
*/