.btn{
    border-radius: 0;
}

#navbar-top {
    margin-bottom: 0;
    background-color: #fff
}

@media (min-width: 768px) {
    #navbar-top {
        height: 88px;
        padding-top: 20px
    }
}

@media (min-width: 768px) {
    #navbar-right-1 {
        height: 68px !important;
        padding: 0;
        margin: 0
    }
}

#navbar-top a {
    text-transform: uppercase
}

#navbar-top .active a, #navbar-top li a:active, #navbar-top li a:hover {
    color: #428bca;
    background-color: transparent !important
}

#navbar-top li a:active, #navbar-top li a:hover {
    -webkit-transition: color 1s;
    transition: color 1s
}

.navbar-toggle {
    background: 0 0 !important;
    border: 0 !important
}

#navbar-top .icon-bar {
    background-color: #000 !important
}

#dropdown-menu-1 {
    width: 296px;
    border-top: 2px solid #428bca;
    border-radius: 0 !important;
    min-height: 80px
}

#kosik-mobile {
    color: #333;
    position: absolute;
    right: 70px;
    top: 14px
}

@media (min-width: 768px) {
    #kosik-mobile {
        display: none
    }
}

#kosik {
    height: 67px;
    color: #333 !important
}

@media (max-width: 768px) {
    #kosik {
        display: none
    }
}

#kosik:focus {
    background: 0 0 !important
}

#kolecko {
    height: 18px;
    width: 18px;
    background: #428bca;
    display: block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    right: 7px
}

#shopping-cart {
    font-size: 18px
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block
    }
}

.jumbotron {
    background-image: url(../img/header-bg.jpg) !important;
    text-align: left;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .jumbotron {
        height: 600px;
        background-size: 100%;
        padding-top: 150px;
        background-position: 50% 130% !important
    }
}

@media (max-width: 768px) {
    .jumbotron {
        padding-top: 120px
    }
}

.jumbotron p {
    max-width: 800px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px
}

.jumbotron .blue-link {
    margin-right: 10px
}

@media (max-width: 345px) {
    .jumbotron .blue-link {
        display: block;
        margin: 5px;
        max-width: 150px;
        text-align: center
    }
}

#jumbotron-h1 {
    font-weight: 700
}

.blue-link:link, .blue-link:visited {
    background-color: #428bca;
    color: #fff;
    padding: 10px 30px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    text-decoration: none;
    text-transform: uppercase
}

.blue-link:active, .blue-link:hover {
    background-color: #3774a9;
    color: #fff
}

section {
    padding-top: 90px;
    padding-bottom: 80px
}

section h2 {
    text-transform: uppercase !important;
    color: #428bca;
    padding-bottom: 30px;
    font-weight: 700
}

section h2::after {
    content: '';
    display: block;
    width: 50px;
    margin: 10px auto auto;
    background: red;
    border-top: 5px solid #428bca
}

.col-sm-4 {
    background: 0 0 !important
}

.novinka {
    padding: 10px 30px;
    margin-bottom: 20px;
    border: 1px solid #e4e3e3;
    border-bottom: 3px solid #e4e3e3;
    background-color: #fff;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s
}

@media (min-width: 1024px) {
    .novinka {
        height: 300px
    }
}

.novinka:hover {
    border-bottom: 3px solid #428bca
}

.novinka > p {
    text-align: justify
}

.clanok-link:link, .clanok-link:visited {
    color: inherit;
    text-decoration: none
}

.clanok-link:active, .clanok-link:hover {
    color: #428bca
}

.post-date > p {
    opacity: .6
}

.stlpce {
    text-align: center;
    margin-top: 70px
}

@media (max-width: 768px) {
    .stlpce > div {
        margin-bottom: 40px
    }
}

.stlpce .fa {
    font-size: 80px
}

.stlpce h3 {
    text-transform: uppercase;
    font-size: 20px
}

.stlpce h3::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 5px auto auto;
    background: red;
    border-top: 3px solid #333
}

#section-1 p, #section-4 p {
    font-size: 14px !important;
    line-height: 20px;
    max-width: 800px;
    margin: auto
}

.link-wrapper {
    text-align: center;
    padding-top: 50px
}

#section-2 {
    background-color: #f1f1f1
}

#section-3 {
    background-image: url(../img/section-3-bg.jpg);
    padding-top: 100px;
    padding-bottom: 120px
}

#section-3 p {
    font-size: 30px;
    text-align: center;
    margin: auto;
    max-width: 700px
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2d2d2d;
    font-size: 15px
}

.site-footer .footer-links a {
    border-bottom: 1px solid #484848;
    display: block
}

.site-footer .footer-links a:last-of-type {
    border-bottom: none
}

.site-footer, .site-footer a {
    color: #fff
}

.site-footer h4 {
    text-transform: uppercase;
    border-left: 7px solid #428bca;
    padding-left: 10px
}

.social-kontakt .fa {
    font-size: 20px
}

.social-kontakt .fa:hover {
    color: #428bca
}

.site-footer iframe {
    width: 100%
}

#uvod .container #jumbotron-h1 {
    -webkit-animation: fadein 2s;
    animation: fadein 2s
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#uvod .container p {
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: backwards;
    animation: fadein 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#uvod .container a {
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: backwards;
    animation: fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}