﻿/*
 * Start Bootstrap - One Page Wonder (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse{
    background-color: white;
    border: none;
}

.navbar-inverse .navbar-brand{
    color: #333333;
}

.navbar-inverse .navbar-nav > li > a{
    color: #428BCA;
}

.navbar-inverse .navbar-nav > li:hover > a{
    color: white;
}

.navbar-inverse .navbar-nav > li:hover{
    background-color: #428BCA;
    transition: background-color 0.5s;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    /*
    background: url('../images/back_header.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        */
}

.headline {
    padding: 120px 0;
}

.headline p{
    background: rgba(255,255,255,0.7);
    padding: 15px;
}

.headline h1 {
    font-size: 90px;
    background: #fff;
    background: rgba(255,255,255,0.7);
    color: #428BCA;
}

.headline h2 {
    font-size: 40px;
    background: #fff;
    background: rgba(255,255,255,0.7);
}

#news{
    margin-top: 20px;
    padding: 15px 15px 40px 15px;
}

#news .new{
    border: dashed 1px #72A6D3;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#news h2, #news h3{
    margin-top: 0;
}

#news #scrollSpace{
    height: 270px;
    overflow-y: scroll;
    width: 100%;
    padding-right: 10px;
}

#news #scrollSpace::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
#news #scrollSpace::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
#news #scrollSpace::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(66,139,202,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#news #scrollSpace::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(66,139,202,0.4); 
}

#order {
    padding: 15px 15px 40px 15px;
}

#order h2{
    font-size: 40px;
    text-align: center;
    color: #428BCA;
}

#order ul li{
    font-size: 20px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}